* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2d3134;
}

.container {
  width: 342px;
  height: 580px;
  background-color: #464b4b;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#input {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  color: #A2ABAE;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: transparent;
}

#result {
  padding: 1rem 2rem;
  border: none;
  outline: none;
    color: #A2ABAE;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: transparent;
}
.btn-box{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;

   
}

.row{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 0.6rem;
    /* margin-top: 1rem; */
    padding: 0.5rem;
    position: relative;
    /* background-color: red; */
}

.btn{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 45%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 0px 10px #191D1E;}



#all-clear{
background-color: #FFB92B;
color: white;
}

.color-noname{
    background-color: #4B4439;
    color:#FEA334;
}
.color-black{
    background-color: #373B3E;
    color: #8E8F9C;

}

.color-voilet{
    background-color: #49325C;
    color: #8E8F9C;

}

#equal-btn{
    position: absolute;
    left: 78%;
    top: 12%;
    width: 60px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
}
